---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Guillermo Polito
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/guillep"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Guille on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/GuillePolito/"
        aria-label="Guille on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Guille on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
	  Coding enthusiast. Mad hatter. Software engineer and researcher. 

	  I am currently an Inria Researcher at the CRIStAL laboratory, where I am expert in software engineering and language implementations, with a particular focus on test generation.
	  I work in the <a href={"https://www.inria.fr/fr/evref"} target="_blank"
        >Evref team from Inria Lille-Nord Europe</a
      >.
    </p>
    <p class="mb-8"> <!--class="text-center whitespace-nowrap overflow-auto"-->
	My main research interest lies in the <b>efficiency, modularity and testing of programming languages</b>, particularly in <b>Language Virtual Machines (VMs)</b>.
	VMs make possible for high-level programming languages to run efficiently, and thus makes them an important asset for companies.
	They achieve high performance thanks to aggressive optimisation techniques that mix state-of-the-art compilation with operating-system memory management.
	A main challenge is the <b>high-cost</b> incurred in VM construction, due to the complexity and inter-dependence of their many components.
	This complexity is required by companies and research to be competitive.
      <!--code class="py-1 px-2">npx create-blogster@latest --theme newspaper</code
      -->
    </p>
	<p class="mb-8"> 
	I actively participate in the development of the open source <a href={"http://www.pharo-project.org"} target="_blank"
        >Pharo programming language and environment</a
      > since 2010, and I am a member of its technical board since 2018.
    </p>
	<p class="mb-8"> 
	My main topics of interests are the runtime adaptation of applications, Virtual Machine design and development, and programming language tools. For that, I work on reflective applications and programming languages.
    </p>
	<p class="mb-8"> 
	I obtained the 13 of april 2015 my Phd entitled "Virtualization support for application runtime specialization and extension" under the direction of Stéphane Ducasse (<a href={"https://www.inria.fr/fr/evref"} target="_blank"
        >Evref team from Inria Lille-Nord Europe</a
      >) and the supervision of Noury Bouraqadi and Luc Fabresse(<a href={"http://car.mines-douai.fr/"} target="_blank"
	          >CAR team of Mines Douai</a
	        >).
    </p>
	
	
	<h2 class="md:text-2xl font-bold">
		Coordinates
	</h2>

	<p class="mb-8">
	guillermo.polito_at_gmail.com
	</p>
	
	<h2 class="md:text-2xl font-bold">
		Snail mail / Visits
	</h2>

	<p>
	INRIA - G. Polito, 40, avenue Halley,<br/>
	Parc Scientifique de la Haute Borne,<br/>
	Bat.A, Park Plaza<br/>
	France<br/>
	Tel:33 (0)3 20 43 42 56<br/>
	Fax:33 (0)3 59 57 78 50<br/>
	</p>
  </div>
</section>
